*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture,
source {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  transition: .3s;
}

button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
}
